@model CustomerWebApp.Models.Account

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ifsc" class="control-label"></label>
                <input asp-for="Ifsc" class="form-control" />
                <span asp-validation-for="Ifsc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountSummary" class="control-label"></label>
                <input asp-for="AccountSummary" class="form-control" />
                <span asp-validation-for="AccountSummary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AadharNumber" class="control-label"></label>
                <input asp-for="AadharNumber" class="form-control" />
                <span asp-validation-for="AadharNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MobileNumber" class="control-label"></label>
                <input asp-for="MobileNumber" class="form-control" />
                <span asp-validation-for="MobileNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
