@model CustomerWebApp.Models.TransferMoney

<h2>Transfer Money To other ABC Accounts</h2>
<hr />
<h4> Success!!! Money Transferred</h4>


<div>
    <a asp-action="TransferMoneyIntra" asp-controller="TransferMoney">Do Another Transaction</a> <br />
    <a asp-action="LogOut" asp-controller="LoginCustomers">LogOut</a> <br />
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
