@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2 class="display-4">Welcome to Internet Banking</h2>
    Welcome to ABC Bank Internet Banking <br />

    <br />
    Never share your Internet Banking login details with anyone. ABC bank and its officials will never ask for any OTP or login credentials 
    in any possible cases <br /> 
    Login to your internet banking account to manage your bank account and transfer funds <br />
    <a class="nav-link text-dark" asp-area="" asp-controller="LoginCustomers" asp-action="LogIn">Login Here</a>
</div>
