@model CustomerWebApp.Models.LoginCustomer

@{
    ViewData["Title"] = "Login";
}

<h1>ABC Internet Banking/</h1>

<h4>Customer Login</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="FindAccountNumber">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InternetBankingId" class="control-label">User ID</label>
                <input asp-for="InternetBankingId" class="form-control" />
                <span asp-validation-for="InternetBankingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InternetBankingPassword" class="control-label">Password</label>
                <input asp-for="InternetBankingPassword" class="form-control" />
                <span asp-validation-for="InternetBankingPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Log In" class="btn btn-primary" />
                <br />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Forgot Password</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
